<h1>Editing Book</h1>

<%= render "errors", book: @book %>

<%= form_with model: @book, method: :patch do |f| %>

  <label>Title</label>
  
  <%= f.text_field :title %></br>
  
  <label>Body</label>
  
  <%= f.text_area :body %></br>
  
  <%= f.submit "Update Book" %>
  
<% end %>

<%= link_to "show", book_path(@book) %>
<%= link_to "Back", '/books' %>